<%
   date = date_info[:date]
   content_classes = ' date '
   data_attributes = " date=#{date.to_s} "
   if date.saturday? || date.sunday?
     content_classes += ' weekend '
   end
   if date < @month_info[:today]
     content_classes += ' past '
   else
     content_classes += ' future '
   end
   request = date_info[:request]
   if !request.nil?
     content_classes += ' ordered '
     data_attributes += " request_id=#{date_info[:request][:id]} "
   end
%>
<div class="date-container">
  <div class="<%=content_classes%>" <%=data_attributes%>>
      <b class="mday"><%= date.mday %></b>
  </div>
  
</div>