<div class="column-left">
  <div class="column-border">
    <%=render template: 'users/list'%>
  </div>
</div>
<div class="column-right">
  <div class="column-border">
    <%=render template: 'users/new'%>
  </div>
</div>
