body{ padding: 10px;}

#header{
  padding-bottom: 5px;
  border-bottom: solid darkred 1px;
  margin-bottom: 5px;
  height: 40px;
  overflow: hidden;
}
#header *{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  vertical-align: bottom;
}
#user-info {float:right; font-size: 14pt;}
#logo-icon{
  background-image: url('icons-meat.png');
  width: 40px;
  height: 40px;
}
#logo h1{color: darkred; margin: 0;}

.column-left, .column-right{
  width:50%;
}
.column-left{
  float: left;
}
.column-right{
  float: right;
}
.column-border{
  margin: 5px;
}